$primary: #6fdb78;
$primarylight: #c3ecc6;
$success: #30ce3d;
$dark: #103113;
$secondary: #1d5724;


@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/variables-dark";


$custom-colors: (
  "bright_accent": hsl(288, 80%, 44%), //This is a place holder. It is posible to make custom variables!
  "aaron-background": rgb(213, 253, 213) 
  );

  .MyLink {
    &:hover {
      transform: scale(1.1); 
      transition: transform 0.3s ease, color 0.3s ease;
    }
  }

  .hamburger {
    border-color: rgb(0, 191, 255);
  }
  
  .navbar-toggler:active {
    border-color: #c3ecc6;
    outline-color: #c3ecc6;
  }


$theme-colors: map-merge($theme-colors, $custom-colors);

@import "../../node_modules/bootstrap/scss/bootstrap";